@import '@fontsource/jost';

* {
  font-size: 19px;
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
  background-color: #1d1d36;
  color: #fff;
  height: 100vh;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.primary-button {
  background-color: #8b5cf6;
  border-radius: 10px;
  color: #fff;
  height: 40px;
  border: none;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

input {
  border-radius: 10px;
  height: 40px;
}

a {
  color: #fff;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    background-color: yellow;
    color: black;
  }
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  height: 40px;
  background-color: white;
  border: 2px solid black;
  min-width: 11rem;
  max-width: 100%;
}

.form-group {
  margin-bottom: 1rem;
}
